@page "/"

<PageTitle>ResxEditor - Home</PageTitle>

<div class="container-fluid mt-2 w-100">
    <div class="row">
        <div class="col">
            <div class="input-group form-floating">
                <input type="text" class="form-control" id="filenameInput" placeholder="Filename">
                <label for="filenameInput">Filename</label>
                <span class="input-group-text">.resx</span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="namespaceInput" placeholder="Test.Properties">
                <label for="namespaceInput">Namespace</label>
            </div>
        </div>
    </div>
</div>