@page "/"

<PageTitle>ResxEditor - Home</PageTitle>
<InputFile id="filePicker" OnChange="OnLoadFiles" accept=".resx" hidden multiple />

<div class="container-fluid mt-2 w-100">
    <div class="row">
        <div class="col">
            <div class="input-group">
                <div class="form-floating">
                    <input type="text" class="form-control" id="filenameInput" placeholder="Filename">
                    <label for="filenameInput">Filename</label>
                </div>
                <span class="input-group-text">.resx</span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="namespaceInput" placeholder="Test.Properties">
                <label for="namespaceInput">Namespace</label>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-2 w-100">
    <table class="table table-bordered table-striped-columns">
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value - en-US</th>

            @foreach (var locale in _locales)
            {
                <th scope="col">Value - @locale</th>
            }
        </tr>
        @if (_mainDocument != null)
        {
            foreach (var (key, dict) in _mainDocument.Values)
            {
                <tr>
                    <td>@key</td>
                    @foreach (var (_, value) in dict)
                    {
                        if (string.IsNullOrEmpty(value))
                        {
                            <td style="background-color: red">@value</td>
                        }
                        else
                        {
                            <td>@value</td>
                        }
                    }
                </tr>
            }
        }
    </table>
</div>
